<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="form-floating mb-3 mt-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="">
        <label for="floatingInput">Email cím</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="">
        <label for="floatingPassword">Jelszó</label>
      </div>
      <button class="btn btn-primary mb-4 col-3" id="belepesBTN">Belépés</button>
    </body>
</html>