<h3>Lépésadatok kezelése</h3>

<div class="msgBox">

</div>

<!--Űrlap-->
    <div class="form-floating mb-3 col-12 col-lg-4">
        <input type="date" class="form-control" id="dateField" placeholder="">
        <label for="dateField" required>Dátum</label>
    </div>
    <div class="form-floating mb-3 col-12 col-lg-4">
        <input type="text" class="form-control" id="countField" min="0" placeholder="">
        <label for="floatingDate" required>Lépésszám</label>
    </div>
    <div class="mb-3 col-12 col-lg-4">
        <button class="btn btn-primary" id="hozzaadBTN" onclick="Hozzaadas()">Hozzáadás</button>
        <button class="btn btn-warning d-none" id="modositasBTN">Módosítás</button>
        <button class="btn btn-danger d-none" id="megsemBTN" onclick="Cancel()">Cancel</button>


    </div>


<!--Táblázat-->

<table class="table table-hover table-striped" >
    <thead>
        <tr id="stepDataTR"> 
            <th class="" id="sID">#</th>
            <th class="text-end" id="sDatum">Dátum</th>
            <th class="text-end" id="sLepes">Lépésszám</th>
            <th class="text-end" id="sMuveletek">Műveletek</th>
        </tr>
    </thead>
    <tbody id="stepDataTable">
        <!--Lépés adatok dinamikusan-->
    </tbody>
    <tfoot>
        <tr>
            <td class="text-center">Összesen <span id="osszLepes">0</span> lépés</td>
        </tr>
    </tfoot>
</table>