<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regisztráció</title>
</head>
<body>

    <div id="msgBox">
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingName" placeholder="">
        <label for="floatingName" required>Név</label>
      </div>


    <div class="form-floating mb-4 mt-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="">
        <label for="floatingInput">Email cím</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="">
        <label for="floatingPassword" required>Jelszó</label>
      </div>

      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPasswordAgain" placeholder="">
        <label for="floatingPasswordAgain" required>Jelszó újra</label>
      </div>

      <button class="btn btn-primary mb-4 col-3" id="regBTN" onclick="registration()">Registration</button>
    </body>
</html>