
header{
    text-align: center;
    padding: 40px 0px;
}

footer p{
    font-size: 85%;
    letter-spacing: 3px;
    color: aliceblue;
    background-color: rgba(0, 102, 255, 0.438);
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
    width: fit-content;

    
}

footer{
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--bs-secondary);
    align-items: center;
}


#colorModeDark, #colorModeLight{
    margin-left: 10px;
    position: relative;
    top: 10px;
    right: 10px;
}

.navbar-nav a{
    cursor: pointer;
}

#msgBox {
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

#defaultMenu{display: block;}
/*#loggedMenu{display: none;}*/

#profilePasswordField, #profileEmailField, #profileNameField, #profileOldPasswordField{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    width: fit-content;
    height: fit-content;
}
#profilePasswordField:focus, #profileEmailField:focus, #profileNameField:focus #profileOldPasswordField:focus{
    outline: none;
    border-bottom: 1px solid white;
}


.changeBTN{
    display: inline;
    color: rgb(223, 223, 223);
    width: fit-content;
    height: fit-content;
    transition: 0.3s;
}

.chanfeBTN:hover{
    color: white;
    cursor: pointer;
    
} 